* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #4671e7;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

li a.active {
    color: white !important;
}

li a:hover:not(.active) {
    color: rgb(8, 8, 8);
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}


.sidebar ul li:first-child {
    line-height: 60px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.sidebar ul li:first-child:hover {
    background: none;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

.sidebar .title {
    padding: 0 10px;
    font-size: 18px;
}

li h4 .brand {
    font-size: 20px;
    margin-left: 30%;
    font-weight: 600;
    color: #fff;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    min-height: 100vh;
    left: 300px;
    background: #f5f5f5;
}

.top-bar {
    position: fixed;
    height: 60px;
    width: calc(100% - 300px);
    background: #fff;
    display: grid;
    grid-template-columns: 10fr 0.4fr 1fr;
    grid-gap: 5px;
    align-items: center;
    color: #444;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.top-bar .search {
    position: relative;
    max-width: 400px;
}

.top-bar i{
    margin-left: 30px;
    font-size: 20px;
}

.search input {
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    background: #f5f5f5;
}

.search i {
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
}


.cards {
    margin-top: 60px;
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    
}

.cards .card {
    border-radius: 10px;
    background-color: #009FBD;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}

.card-name {
    color: #fff;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: #fff;
}

.tables {
    margin-top: 20px;
    width: 100%;
    display: grid;
    align-items: self-start;
    padding: 0 20px 20px 20px;
}


.last-appointments {
    width: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444;
}

.btn {
    margin-top: 35px ;
    text-align: center;
    width: 17%;
    height: 40px;
    margin-left: 20px;
    background-color: blue;
    color: #fff;
    font-size: 20px;
    border: none;
    font-weight: 600;
    border-radius: 6px;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}



table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


td, th {
    padding: 9px 5px;
    text-align: center;
    border: 1px solid #dddddd;
}

td i {
    padding: 7px;
    border-radius: 50px;
}


